<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Senha</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <p style="text-align: center; font-size: 18px; font-weight: 500;">Atualize sua senha</p>
    <div class="perfil" style="box-shadow: .1em .1em .6em #ccc; margin: 5%;">
      <div style="padding: 10px;">
        <ion-input type="password" placeholder="Digite sua nova senha" [(ngModel)]="user.senha"></ion-input>
      </div>
      <div style="padding: 10px;">
          <ion-input type="password" placeholder="Confirme sua nova senha"></ion-input>
        </div>
    </div>
    <div style="padding: 10px;">
        <ion-button expand="block" style="height: 50px!important;" color="dark" (click)="updateSenha()">Atualizar Senha
        </ion-button>
    </div>
  </ion-content>