<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <div style="float: left; margin: 8px;">
            <img src="{{ foto }}" style=" border-radius: 50%; max-width: 50px; border: 1px solid #000;">
          </div>
          <div style=" margin-top: 25px!important; font-size: 22px;">
            <ion-label style="padding-left: 20px; margin-top: 5px;"> {{ nome }}</ion-label>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>