<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Resultado da busca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!prestadores.length">
      <ion-item *ngFor="let item of [0, 1, 2]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-card  *ngFor="let prestador of prestadores" button [routerLink]="['/details', prestador.id]">
      <ion-item >
        <ion-avatar slot="start">
          <img [src]="prestador.picture">
        </ion-avatar>

        <ion-label>{{ prestador.nome }}</ion-label>
        <ion-note color="primary" slot="end"  style="color: #00a6ff; font-size: 15px;;">{{ prestador.preco_km*18 | currency: 'BRL'}}</ion-note>
      </ion-item>
    
      <ion-card-content>
       <p style="font-size: 16px;"> {{ prestador.modelo_veiculo }}  /  {{ prestador.placa }}  |  {{ prestador.porte }} porte</p>
       <p style="float: right; position: absolute; bottom: 5px; right: 5px;"> {{ prestador.createdAt | date: "dd/MM/yyyy" }}</p>
      </ion-card-content>
    </ion-card>
  </ion-content>