<ion-content>

  <div #map class="topo">


    <ion-toolbar color="light" style=" --background: transparent;
          --ion-color-base: transparent !important; ">
      <ion-buttons slot="start"
        style="color: #fff; background-color: #00a6ff;  border-radius: 50%; height: 40px; width: 40px;">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>



    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChange()" placeholder="Para onde?" [hidden]="destination"
      required>
    </ion-searchbar>
    <div>
      <ion-item>
        <ion-label>Tipo de mudança</ion-label>
        <ion-select placeholder="Selecione">
          <ion-select-option value="Apartamento">Apartamento</ion-select-option>
          <ion-select-option value="Casa">Casa</ion-select-option>
          <ion-select-option value="Escritorio">Escritório</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-list class="ion-margin-horizontal" [hidden]="!search.length">
      <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">
        {{ result.description }}
      </ion-item>
    </ion-list>
  </div>
  <div class="botton" style=" background:var( --ion-color-primary);">
    <button [routerLink]="['/busca']"  style="margin-left: 85px; margin-top: 40px;" color="secondary">Buscar</button>
  </div>

</ion-content>