<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Seja um prestador</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div style="text-align: center; margin-top: 30%;">
    <div>
      <img src="assets/img/truck.png" alt="">
    </div>
    <div>
      <h2 style="padding: 3%;">Seja encontrado por milhares de pessoas</h2>
    </div>
    <div>
      <button style="background-color: #0A6CB2; padding: 5% 25%; color:#fff; font-size: 18px;" [routerLink]="['/prestador']">Continuar</button>
    </div>
  </div>
</ion-content>